@import "variables";

.grey-bar {
  width: 2px;
  height: 25px;
  background-color: $light-grey;
}

.smaller { font-size: 0.85rem; }

.color-primary { color: $primary-color; }
.color-secondary { color: $secondary-color; }

.color-danger {
  color: #d44950 !important;
  background-color: red !important;
}

.muted,
.muted .v-icon {
  color: $color-muted-grey !important;
}

.v-input__prepend-inner {
  padding-right: 12px;

  i.v-icon {
    color: $primary-color;
    font-size: 16px;
  }
}

@media (min-width: $screen-md-min) {
  .min-vh100-fh {
    min-height: calc(100vh - 160px);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.fade-bottom {
  @media(min-width: $screen-md-min) {
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  }
}

.link-highlight {
  text-decoration: none;
  color: $primary-color;
  background: linear-gradient(to top, transparent 15%, rgba(91, 65, 187, 0.2) 15%, rgba(91, 65, 187, 0.2) 55%, transparent 55%);
}

.text-decoration-none { text-decoration: none; }
.block { display: block; }
.no-underline { text-decoration: none; }
.w-full { width: 100%; }
.m-auto { margin: auto; }
.text-lg { font-size: 1.25rem;}
.italic { font-style: italic; }
.cursor-pointer { cursor: pointer; }
.pointer-events-auto { pointer-events: auto; }
.pointer-events-none { pointer-events: none; }
.flex-1 { flex: 1; }
.align-middle { vertical-align: middle; }
.absolute { position: absolute; }
.fill-width { width: 100%; }
.overflow-hidden { overflow: hidden; }
.relative { position: relative; }

.disabled {
  &.link { color: $dark-grey !important; }
}
.inset-0 {
  top: 0; right: 0; bottom: 0; left: 0;
}
