@import "variables";

.smaller {
  font-size: 0.85rem;
}

.color-primary {
  color: $primary-color;
}

.color-secondary {
  color: $secondary-color;
}

.color-danger {
  color: #d44950 !important;
}

.muted,
.muted .v-icon {
  color: $color-muted-grey;
}

form .v-input__prepend-inner {
  padding-right: 12px;

  i.v-icon {
    color: $primary-color;
    font-size: 16px;
  }
}

@media (min-width: $screen-md-min) {
  .min-vh100-fh {
    min-height: calc(100vh - 160px);
  }
}
