@import "variables";

@mixin pageMargin() {
  @media (min-width: $screen-lg-min) {
    margin-left: 27%;
    margin-right: 27%;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.muted {
  /*color: #857f88;*/
  color: #c0b7c5;
}

.smaller {
  font-size: 0.85rem;
}
