@import "variables";

.grey-bar {
  width: 2px;
  height: 25px;
  background-color: $light-grey;
}

.smaller {
  font-size: 0.85rem;
}

.color-primary {
  color: $primary-color;
}

.color-secondary {
  color: $secondary-color;
}

.color-danger {
  color: #d44950 !important;
  background-color: red !important;
}

.muted,
.muted .v-icon {
  color: $color-muted-grey !important;
}

form .v-input__prepend-inner {
  padding-right: 12px;

  i.v-icon {
    color: $primary-color;
    font-size: 16px;
  }
}

@media (min-width: $screen-md-min) {
  .min-vh100-fh {
    min-height: calc(100vh - 160px);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.fade-bottom {
  @media(min-width: $screen-md-min) {
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  }
}

.text-decoration-none {
  text-decoration: none;
}
