@media #{$small-screen} {
  .v-dialog__content {
    overflow-y: auto;
    align-items: stretch;
    justify-content: flex-start;
    padding: 10px 10px 30px 10px;
    &.v-dialog__content--active {
      pointer-events: auto;
    }
  }
}

.modal {
  padding: 1em;
  margin: auto;
  background: white;

  &:not(.v-dialog--fullscreen) {
    max-height: none;
  }

  @media #{$small-screen} {
    overflow-y: hidden;
  }

  section.modalHeader {
    h3 {
      text-align: center;
      margin: 1rem;
    }
  }

  section.modalBody,
  section.modalFooter {
    @media #{$small-screen-up} {
      padding-left: 3em;
      padding-right: 3em;
    }
  }

  section.modalFooter {
    @media #{$small-screen-up} {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }


  .modalTopImage {
    margin-bottom: 1rem;
  }

  .closeBtn .cancelIcon {
    float: right;
  }
}
