$primary-color: #5B41BB;
$secondary-color: #ffc61e;
$secondary-gradient: linear-gradient(to left, #ffb92d, #ffdf01);
$color-muted-grey: #c0b7c5;
$color-insanely-crazy-light-greyish-purple: #f3f0f4;
$color-off-white: #fafafa;
$color-dark-off-white: #efefef;
$color-light-box: #9a9a9a;
$welcome-background-color: #aaaaaa99;
$welcome-background-yellow: #fbe192;
$welcome-arrow-background: #5b41bb;

$light-grey: #f3f0f4;
$background-grey: #f8f8fa;
$dark-grey: #acabb2;

$disabled-purple: rgba(91, 65, 187, 0.6);
$clicked-purple: rgba(66, 39, 169, 1);
$hover-purple: rgba(91, 65, 187, 1);
$default-purple: rgba(91, 65, 187, 1);
$off-purple: #efecf8;

$screen-xs-max: 599px;
$screen-sm-min: 600px;
$screen-sm-max: 960px;
$screen-md-min: 961px;
$screen-md-max: 1264px;
$screen-lg-min: 1265px;
$screen-small-height: 640px;

$card-shadow: 0px 4px 20px rgba(0, 0, 0, .1);

$extra-small-screen: "only screen and (max-width : 600px)";
$small-screen: "only screen and (max-width : 959px)";
$small-screen-up: "only screen and (min-width : 960px)";
$medium-screen: "only screen and (min-width: 960px) and (max-width : 1264px)";
$large-screen: "only screen and (min-width: 960px) and (max-width : 1904)";
$extra-large-screen: "only screen and (min-width : 1904)";

$mobile: "only screen and (max-width : 1264px)";
$desktop: "only screen and (min-width: 960px)";
