$extra-small-screen: 'only screen and (max-width : 600px)';
$small-screen: 'only screen and (max-width : 960px)';
$medium-screen: 'only screen and (max-width : 1264px)';
$large-screen: 'only screen and (max-width : 1904)';
$extra-large-screen: 'only screen and (min-width : 1904)';