$primary-color: #5B41BB;
$secondary-color: #ffc61e;
$secondary-gradient: linear-gradient(to left, #ffb92d, #ffdf01);
$color-muted-grey: #c0b7c5;
$color-insanely-crazy-light-greyish-purple: #f3f0f4;
$color-off-white: #efefef;
$welcome-background-color: #aaaaaa99;
$welcome-background-yellow: #fbe192;
$welcome-arrow-background: #5b41bb;

$screen-xs-max: 599px;
$screen-sm-min: 600px;
$screen-sm-max: 960px;
$screen-md-min: 961px;
$screen-md-max: 1264px;
$screen-lg-min: 1265px;

$extra-small-screen: "only screen and (max-width : 600px)";
$small-screen: "only screen and (max-width : 959px)";
$small-screen-up: "only screen and (min-width : 960px)";
$medium-screen: "only screen and (min-width: 960px) and (max-width : 1264px)";
$large-screen: "only screen and (min-width: 960px) and (max-width : 1904)";
$extra-large-screen: "only screen and (min-width : 1904)";

$mobile: "only screen and (max-width : 1264px)";
$desktop: "only screen and (min-width: 960px)";
